@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Identity
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Login | NOBox - Marketing Booster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Admin/assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/Admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/Admin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/Admin/assets/css/app.min.css" rel="stylesheet" type="text/css" />

</head>

<body class="bg-primary bg-pattern">
    @*<div class="home-btn d-none d-sm-block">
        <a href="index.html"><i class="mdi mdi-home-variant h2 text-white"></i></a>
    </div>*@

    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mb-5">
                        <a href="index.html" class="logo"><img src="~/Admin/assets/images/logo-light.png" height="24" alt="logo"></a>
                        <h5 class="font-size-16 text-white-50 mb-4">Marketing Booster</h5>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-xl-5 col-sm-8">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="p-2">
                                <h5 class="mb-5 text-center">Sign in to continue to NOBOX.</h5>

                                <form asp-route-returnurl="@ViewData["ReturnUrl"]" class="form-horizontal" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group form-group-custom mb-4">
                                        <input asp-for="Email" class="form-control" id="username" required />
                                        <label for="username">Email</label>

                                        <span asp-validation-for="Email" class="text-danger"></span>

                                    </div>
                                    <div class="form-group form-group-custom mb-4">
                                        <input asp-for="Password" class="form-control" id="userpassword" required />
                                        <label for="username">PassWord</label>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                                <label class="custom-control-label" for="customControlInline">Remember me</label>
                                            </div>
                                        </div>
                                        @*<div class="col-md-6">
                                            <div class="text-md-right mt-3 mt-md-0">
                                                <a href="/Account/ForgotPassword" class="text-muted"><i class="mdi mdi-lock"></i> Forgot your password?</a>
                                            </div>
                                        </div>*@
                                    </div>
                                    <div class="mt-4">
                                        <button class="btn btn-success btn-block waves-effect waves-light" type="submit">Log In</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- end Account pages -->
    <!-- JAVASCRIPT -->
    <script src="~/Admin/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/Admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/Admin/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/Admin/assets/libs/node-waves/waves.min.js"></script>

    <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>

    <script src="~/Admin/assets/js/app.js"></script>

</body>
</html>