<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Buyer Profile</title>
    <link rel="stylesheet" href="~/Admin/vendors/mdi/css/materialdesignicons.min.css">

    <link rel="stylesheet" href="~/Admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/css/horizontal-layout-light/style.css">
    <link rel="shortcut icon" href="~/images/favicon.png" />

    @RenderSection("Styles", required: false)
    <script src="~/Admin/vendors/js/vendor.bundle.base.js"></script>
</head>


<body>
    <div id="modal-placeholder"></div>
    <div class="container-scroller">
        <div class="horizontal-menu">
            <partial name="P_Header" />
            <partial name="P_TopMenu" />
        </div>
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                @RenderBody()
                @*<div class="footer"></div>*@
            </div>
        </div>
    </div>
    <script src="~/Admin/vendors/chart.js/Chart.min.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/template.js"></script>
    <script src="~/js/dashboard.js"></script>
    <script src="~/js/Ajax.js"></script>
    <script src="~/Admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/js/formpickers.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
