<header id="page-topbar">
    <div class="navbar-header">
        <div class="container-fluid">
            <div class="float-right">


                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        @{
                            var image = TempData["Image"] as string;
                            if (image != null)
                            {
                                if (image.Length > 0)
                                {
                                    <img class="rounded-circle header-profile-user" src="~/UserProfile/@image" alt="Header Avatar">
                                }
                                else
                                {
                                    <img class="rounded-circle header-profile-user" src="~/Admin/assets/images/users/avatar-1.jpg" alt="Header Avatar">
                                }
                            }
                            else
                            {
                                var images = User.Claims.FirstOrDefault(d => d.Type == "Image");
                                if (images.Value != "")
                                {
                                    <img class="rounded-circle header-profile-user" src="~/UserProfile/@images.Value" alt="Header Avatar">
                                }
                                else
                                {
                                    <img class="rounded-circle header-profile-user" src="~/Admin/assets/images/users/avatar-1.jpg" alt="Header Avatar">
                                }
                            }
                        }
                        <span class="d-none d-sm-inline-block ml-1">@User.Identity.Name</span>
                        <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a class="dropdown-item" asp-action="Profile" asp-controller="Home"><i class="mdi mdi-face-profile font-size-16 align-middle mr-1"></i> Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-action="LogOut" asp-controller="Account"><i class="mdi mdi-logout font-size-16 align-middle mr-1"></i> Logout</a>
                    </div>
                </div>
            </div>

            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="#" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="~/Admin/assets/images/logo-sm-dark.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="~/Admin/assets/images/logo-dark.png" alt="" height="20">
                    </span>
                </a>

                <a asp-action="Index" asp-controller="Home" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="~/Admin/assets/images/logo-sm-light.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="~/Admin/assets/images/logo-light.png" alt="" height="20">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm mr-2 font-size-16 d-lg-none header-item waves-effect waves-light" data-toggle="collapse" data-target="#topnav-menu-content">
                <i class="fa fa-fw fa-bars"></i>
            </button>
            <div class="topnav">
                <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                    <div class="collapse navbar-collapse" id="topnav-menu-content">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">
                                    Dashboard
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Manage User <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-components">

                                    <a href="~/Account/ResetPassword" class="dropdown-item">
                                        <div class="d-inline-block icons-sm mr-2"><i class="uim uim-schedule"></i></div> Reset Password
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="UserBuyList">
                                    Buy List
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Support">
                                    Support Manage
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>


</header>
<script>
    $(document).ready(function () {
        $("#myForm").submit();
    });
</script>